.page-header
  %h2= t('.forums')

= link_to t('.create_category'), new_admin_category_path, class: 'btn btn-primary btn-sm'



.container-fluid
  - @categories.each do |category|
    .row.category_box
      .col-md-10.category_name
        =category.name
      .col-md-2.category_name
        .pull-right.btn-group.btn-group-sm{ rel: 'group' }
          = link_to t('.create_forum'), new_admin_category_forum_path(category), class: 'btn btn-default'
        .pull-right.btn-group.btn-group-sm{ rel: 'group' }
          = link_to t('.edit'), edit_admin_category_path(category), class: 'btn btn-default'

        -# .btn-group.btn-group-sm
        -#   %button{ class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown', aria_haspopup: true, aria_expanded: false } }
        -#     Options
        -#     %span.caret
        -#   %ul{ class: 'dropdown-menu'}
        -#     %li= link_to t('.edit'), edit_admin_category_path(category)
        -#     %li= link_to t('.delete'), '#'









      .row.category_forums
        .col-md-12
          = t('.no_forums') if category.forums.blank?
          -category.forums.each do |forum|
            .row
              .col-md-12
                %strong=forum.name
                %br
                =forum.description

                .pull-right
                  =link_to '', '#', class: 'glyphicon glyphicon-edit'
                  =link_to '', '#', class: 'glyphicon glyphicon-trash'