.container-fluid
  - @forum_categories.each do |category|
    .row.category-header
      .col-md-12= category.name

    .row.category-forums
      .col-md-12.category-forums-container
        .box
          - category.forums.each do |forum|
            .row.forum-row
              .col-md-1.col-sm-1= forum_status_img(forum)
              .col-md-6.col-sm-6= forum_name(forum)
              .col-md-2.col-sm-2.forum-info= forum_stat(forum)
              .col-md-3.col-sm-3.forum-last-message-info= forum_last_message_info(forum)

  - if @recent_posts
    #recent_topics
      %table.table
        %caption= t('.recent_topics')
        %thead
          %tr
            %th= t('.topic_name')
            %th= t('.last_message_from')
            %th= t('.date')
        %tbody
          -@recent_posts.each do |post|
            %tr
              %td= link_to post.topic_name, forum_topic_path(post.forum, post.topic_id)
              %td= post.user.login
              %td= forum_time(post.updated_at)

  #online_users.well
    = t('.users_online')
    = online_users
    %br
    = t('.today_online')
    = today_was_users