.container-fluid
  .row
    .col-md-2
      = render partial: 'sidebar'

    .col-md-10
      %h2= t('.new_private_message')

      = errors_for @pm

      = form_for @pm, url: private_messages_path, role: 'form' do |form|
        - if params[:reply]
          .form-group= form.text_field :recipient, value: @reply_pm.sender_login, class: 'subject form-control'
          .form-group= form.text_field :subject, value: @reply_pm.subject ,class: 'subject form-control', placeholder: t('.subject')
        - else
          .form-group= form.text_field :recipient, value: params[:to], class: 'subject form-control autocomplete', placeholder: t('.recipient'), data: { autocomplete_path: autocomplete_users_path }
          .form-group= form.text_field :subject, class: 'subject form-control', placeholder: t('.subject')

        .form-group= form.text_area :body, class: 'body form-control', placeholder: t('.body')

        = form.submit t('.send'), class: 'btn btn-primary btn-sm'