%h2= t('.register_new_user')

= form_for @user, url: users_path, role: 'form' do |form|
  .form-group= form.text_field :login, class: 'name form-control', placeholder: t('.login')
  .form-group= form.text_field :email, class: 'description form-control', placeholder: t('.email')
  .form-group= form.text_field :password, class: 'description form-control', placeholder: t('.password')


  = form.submit class: 'btn '
