!!! 5
%html
  %head
    %title Forum
    = stylesheet_link_tag 'my_forum/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'my_forum/application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body.container-fluid

    #forum_header
      #guest_navbar
        = render current_user ? '/layouts/my_forum/user_navbar' : '/layouts/my_forum/guest_navbar'

    #body
      - if flash[:notice]
        .row
          .alert.alert-success.text-center{ role: 'alert' }
            = flash[:notice]
      .row
        .col-md-6
          #forum-navigation= draw_navigation
      = yield
