!!! 5
%html
  %head
    %title Forum
    = stylesheet_link_tag 'my_forum/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'my_forum/application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body.container-fluid

    #forum_header
      =image_tag('lada_head.jpg')
      - if current_user
        = "#{t('.welcome_to_forum')}, #{current_user.login}"
        = link_to t('logout'), logout_path
      - else
        = link_to t('login'), signin_path


    #body
      = yield