= new_topic_button

= link_to t('.mark_all_as_read'), mark_all_as_read_path

.container-fluid
  .row.forum-header
    .col-md-1
    .col-md-6=t('.subject')
    .col-md-1=t('.author')
    .col-md-1=t('.answers')
    .col-md-1=t('.views')
    .col-md-2=t('.last_message')

  .row.topic-list-container
    .box.topic-list
      - if @forum_topics.blank?
        .row.topic-row
          .col-md-12.col-sm-12.text-center= t('.no-topics')
      - else
        - @forum_topics.each do |topic|
          .row.topic-row
            .col-md-7.col-sm-7= render 'topic_subject', topic: topic, forum: @forum
            .col-md-1.col-sm-1= topic.posts.first.user.login
            .col-md-1.col-sm-1= topic.posts_count
            .col-md-1.col-sm-1= topic.views.to_i
            .col-md-2.col-sm-2.info= topic_last_post_info(topic)

= will_paginate @forum_topics
