.row.post-header
  .col-md-12.post_from_user_login
    - user_login = post.user.try(:login)
    = online_user_marker(user_login)
    = user_login
.row
  .col-md-2
    = render 'user_info', post: post
  .col-md-10
    .created_at= t('.sent', datetime: time(post.created_at))
    #post_container{ id: post.id }
      = format_post_text(post)