- post_counter += 1

.row.post-header{ id: "post_number_#{post_counter}"}
  .col-md-10
    %span.post_from_user_login
      - user_login = post.user.try(:login)
      %span.user_profile_popover{ title: user_login, data: { toggle: 'popover', content: (render partial: 'profile_popover', locals: { user: post.user })}}
        = online_user_marker(user_login)
        %span.login= user_login
  .col-md-2.post_number.text-right
    - # TODO optimize condition!
    - if current_user and current_user.is_admin? and post.topic.posts.first != post
      =link_to t('.delete'), forum_topic_post_path(@forum, post.topic, post), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: "Are you sure?" }
    %button.btn.btn-xs.btn-warning.quote-post{ data: { post_id: post.id } }
      =t('.quote')
    =link_to t('.number', post_number: post_counter), forum_topic_path(@forum, post.topic, show_post: post_counter)
.row
  .col-md-2
    = render 'user_info', post: post
  .col-md-10
    .created_at= t('.sent', datetime: time(post.created_at))
    #post_container{ id: post.id }
      = sanitize format_post_text(post)