.container-fluid
  #navigation= draw_navigation(@topic)

  = link_to t('post_to_topic'), '#'

  #topic_header
    = render 'topic_header', topic: @topic

  #posts
    .row
      .col-md-12.topic_posts_info
        =t('.messages_in_topic', count: @topic.posts.count)
    .row.post-list-container
      .box
        - @topic_posts.each do |post|
          = render 'post', post: post

  #quick_answer
    = render 'quick_answer', forum: @forum, topic: @topic